[submodule "desktopimpl/src/main/proto"]
	path = desktopimpl/src/main/proto
	url = https://github.com/AwesomeMinecraftConsole/proto
[submodule "desktop/src/main/proto"]
	path = desktop/src/main/proto
	url = https://github.com/AwesomeMinecraftConsole/proto
